.header {
    &__wrap {
        display: flex;
        justify-content: space-between;
    }
    &__right {
        display: flex;
        justify-content: space-between;
        flex-basis: 445px;
        a {
            transition: all .3s ease;
        }
        a:hover {
            color: #DDD7C0;
        }
        a:active {
            color: #CBC6B2;
        }
        nav {
            a:not(:last-child) {
                display: block;
                margin-bottom: 8px;
            }
        }
    }
    &__burger-btn {
        display: none;
    }
}

.burger {
    display: none;
}


@media (max-width: 850px) {

    .header {
        &__right {
            flex-wrap: wrap;
            justify-content: flex-end;
            align-content: center;
            nav {
                display: none;
            }
        }
        &__contact {
            display: none;
        }
        &__burger-btn {
            display: flex;
            height: 30px;
            flex-direction: column;
            justify-content: space-around;
            cursor: pointer;
            background: 0 0;
            border: none;
            span {
                width: 24px;
                display: block;
                border: 1px solid black;
                transition: all .3s ease;
            }
        }
        &__burger-btn:hover span {
            border: 1px solid #ccbe88;
        }
        &__burger-btn:active span {
            border: 1px solid #948f7a;
        }
        &__burger-btn-active {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 30px;
            height: 30px;
            padding: 20px 0;
            cursor: pointer;
            background: none;
            border: none;
            position: relative;
            span {
                width: 24px;
                display: block;
                border: 1px solid rgb(136, 0, 0);
            }
            span:nth-child(2) {
                display: none;
            }
            span:nth-child(1){
                position: absolute;
                transform: rotate(45deg);
                transition: all .3s ease;
            }
            span:nth-child(3){
                position: absolute;
                transform: rotate(-45deg);
                transition: all .3s ease;
            }
        }
        &__burger-btn-active:hover span {
            border: 1px solid rgb(194, 42, 42);
        } 
    }

    #burger {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        a {
            margin-bottom: 10px;
        }
        span {
            margin-bottom: 20px;
            padding-top: 10px;
        }
    }
}
